body{
    text-align: center;
    background-color: aliceblue;
}

label,p{
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
}

button{
    font-family:'Times New Roman', Times, serif;
    font-size: 15px;
}

input[type=text]{
    width: 15%;
    padding: 12px;
    border: 2px solid #5c2f7a;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

button{
    background-color: #5c2f7a;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
